@import '../../../styles/vars.scss';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0.75rem;

  & input,
  & textarea {
    background-color: $white;
    border: 3px solid $grey;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 0.75rem 1.75rem;
    transition: border 0.15s ease-in;

    @media (min-width: $md) {
      width: $xs;
    }
  }

  & input:focus,
  & textarea:focus {
    border: 3px solid $black;
    border-right: none;
    border-top: none;
  }

  & textarea {
    min-height: 5rem;
    max-height: 25vh;
  }
}

.required {
  & input,
  & textarea {
    border: 3px solid $required;
    border-right: none;
    border-top: none;
  }
}
