@import '../../../styles/vars.scss';

.root {
  display: flex;
  flex-direction: column;

  & input,
  & textarea {
    background-color: $white;
    border: 3px solid $grey;
    border-right: none;
    border-top: none;
    border-radius: 0;
    padding: 0.75rem 1.75rem;
    transition: border 0.15s ease-in;

    @media (min-width: $md) {
      width: $xs;
    }
  }

  & input:focus,
  & textarea:focus {
    border: 3px solid $black;
    border-right: none;
    border-top: none;
  }

  & textarea {
    height: 9rem;
    max-height: 25vh;
    max-width: 100%;
  }
}

.required {
  & input,
  & textarea {
    border: 3px solid $required;
    border-right: none;
    border-top: none;
  }
}
