@import '../../../styles/vars.scss';

.root {
  background-color: transparent;
  border: 3px solid $black;
  color: $black;
  line-height: 0;
  margin-top: 4.75rem;
  padding: 1.75rem 2.75rem;
  transition: all 0.1s ease-in;
  width: 9rem;

  &:hover {
    transform: scale(1.1);
    color: $white;
    background-color: $black;
  }
}
