@import "../../styles/vars.scss";

.root {
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $black;
  height: 100vh;

  & > div {
    padding-top: 20vh;
    text-align: center;

    h1,
    h2 {
      margin-left: 7%;
      margin-right: 7%;
    }

    h1 {
      margin-top: auto;
    }

    h2 {
      font-weight: 300;
      margin-bottom: auto;
    }
  }
}
