@import "../../styles/vars.scss";

.root {
  display: grid;
  height: 100vh;
  place-items: center;
}

.title,
.subtitle {
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}

.subtitle {
  font-weight: 300;
  margin-bottom: auto;
}
