@import '../../../styles/vars.scss';

.root {
  background-color: $background-lightest;
  border-radius: $border-radius;
  height: 350px;
  margin: 1.75rem;
  padding: 1.75rem;
  transition: transform 0.1s ease-in;
  width: 250px;

  header {
    margin-bottom: 0.75rem;

    a {
      font-weight: bold;
    }
  }

  @media (min-width: $md) {
    &:hover {
      transform: translate(-15px, -15px);
    }
  }
}
