@import './vars.scss';

body {
  background-color: $background;
  font-family: $ff;
  font-size: $p;
  margin-left: auto;
  margin-right: auto;
  max-width: $max;
}

a {
  cursor: pointer;
  color: $secondary;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

a:hover {
  color: $secondary-light;
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: 3px solid $black;
  color: $black;
  line-height: 0;
  padding: 1.75rem 2.75rem;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: $black;
    color: $white;
    font-weight: bold;
    transform: translateY(-0.45rem);
  }
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $md;
  padding: 0 7%;

  @media (min-width: $xs) {
    padding: 0 9%;
  }

  @media (min-width: $md) {
    padding: 0;
  }
}

.section-title {
  @media (min-width: $md) {
    font-size: $h2;
  }

  @media (min-width: $lg) {
    font-size: $h3;
  }
}
