@import '../../styles/vars.scss';

.root {
  @media (min-width: $sm) {
    padding: 0 9%;
    margin: 0 auto;
    margin-bottom: 4.75rem;
  }

  @media (min-width: $md) {
    padding: 0;
  }
}

.title {
  margin: 0 auto;
  margin-bottom: 1.75rem;
  max-width: $xs;

  @media (min-width: $md) {
    font-size: $h2;
  }

  @media (min-width: $lg) {
    font-size: $h3;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  max-width: $md;
  margin: 0 auto;
  justify-content: space-around;
}

.post {
  background-color: lighten($color: $background, $amount: 50);
  border-radius: $border-radius;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'description' 'link';
  height: 350px;
  margin: 0.75rem 0.75rem;
  overflow-x: auto;
  padding: 1.75rem;
  transition: transform 0.1s ease-in;
  box-shadow: none;
  width: 250px;

  & a {
    color: $black;
    font-weight: 600;
    grid-area: link;
    margin-top: 0.75rem;

    &:hover {
      color: $secondary;
    }
  }

  &:hover {
    text-transform: none;
    transform: translate(-15px, -15px);
  }
}
