@import '../../styles/vars.scss';

.root {
  @media (min-width: $sm) {
    padding: 0 9%;
    margin: 0 auto;
  }

  @media (min-width: $md) {
    padding: 0;
  }
}

.title {
  margin: 0 auto;
  margin-bottom: 1.75rem;
  max-width: $xs;

  @media (min-width: $md) {
    font-size: $h2;
  }

  @media (min-width: $lg) {
    font-size: $h3;
  }
}

.form {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  place-items: center;
}

.stilt {
  height: 4.75rem;
  width: 100%;
}
