@import '../../styles/vars.scss';

.root {
  text-align: justify;
}

.section {
  & div {
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
    margin-top: 4.75rem;
    max-height: 300px;
    width: auto;
  }

  @media (min-width: $sm) {
    margin: 0 auto;
    margin-bottom: 4.75rem;
    max-width: $xs;

    & div {
      height: 55vh;
      max-height: 350px;
      width: auto;
    }
  }
}

.header {
  margin-bottom: 1.75rem;
}
