@import '../../styles/vars.scss';

.root {
  background-color: $background-darkest;
  color: $white;
  padding: 1.75rem;
  position: sticky;
  bottom: 0;
  left: 0;

  p {
    font-size: $copy;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 2.75rem;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 2.75rem 7%;
  max-width: $md;

  a {
    color: $white;
    margin: 0.25rem 0.75rem;
  }

  a:hover {
    color: $secondary-light;
  }

  @media (min-width: $md) {
    margin: 0 auto;
    max-width: 55%;
  }
}
