@import '../../styles/vars.scss';

.root {
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 1.75rem;

  & > a {
    margin-left: auto;
    color: $black;
  }
}

.logo {
  & > a {
    color: $black;
  }
}
