@import '../../styles/vars.scss';

.root {
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 1.75rem;

  a {
    color: $black;
    margin-left: auto;
  }

  a:hover {
    color: $secondary-light;
  }
}
